.desktop .hdao {
  height: auto;
  width: 100%;
  background-color: var(--bluish-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop .hdao--container {
  background-color: var(--black);
  border-radius: 16px;
  height: auto;
  min-width: 1120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0;
}

.desktop .hdao--container--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}

.desktop .hdao--title {
  color: var(--white);
  font-family: "Poppins", Helvetica;
  font-size: 26px;
  font-weight: 400;
  width: 395px;
}

.desktop .hdao--text {
  color: var(--white);
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  width: 393px;
}

.desktop .hdao--img {
  height: 529px;
  object-fit: cover;
  width: 593px;
}
