.desktop .header {
  background-color: var(--bluish-grey);
  min-height: 808px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.desktop .header--group,
.desktop .header--group--copy,
.desktop .header--group--img {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.desktop .header--group {
  justify-content: space-between;
  max-width: 1120px;
  max-height: 650px;
}

.desktop .header--group--copy {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.desktop .header--group--img {
  justify-content: flex-end;
}

.desktop .header--title,
.desktop .header--subtext {
  width: 468px;
  font-weight: 700;
}

.desktop .header--title {
  color: var(--white);
  font-family: "Poppins", Helvetica;
  font-size: 50px;
}

.desktop .header--subtext {
  color: var(--grey-text);
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  margin-top: 3rem;
}

.desktop .header .button--main {
  margin-top: 3rem;
}

.desktop .header--image {
  height: auto;
  max-width: 100%;
  width: 497px;
  object-fit: cover;
}

.desktop .header--group--copy,
.desktop .header--group--img {
  flex-shrink: 1;
  max-width: 50%;
}
