.desktop .services {
  height: 690px;
  width: 100%;
  background-color: #252c36;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.desktop .services--header {
  color: var(--white);
  font-family: "Poppins", Helvetica;
  font-size: 50px;
  font-weight: 700;
  width: 437px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.desktop .services--top {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 1120px;
}

.desktop .services--group {
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  border: 3px solid var(--grey-border);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 241px;
  overflow: hidden;
  width: 375px;
}

.desktop .services--title {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.desktop .img-2 {
  height: 40px;
  width: 40px;
}

.desktop .services--title > h2 {
  color: var(--orange-accent);
  font-family: "Roboto", Helvetica;
  font-size: 34px;
  font-weight: 700;
  white-space: nowrap;
}

.desktop .services--group > p {
  color: var(--grey-text);
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 81px;
  text-align: center;
  width: 270px;
}

.desktop .eva-flip-fill {
  height: 7px;
  width: 19.01px;
}

.desktop .services--tailored {
  align-items: center;
  background-color: var(--black);
  border: 3px solid var(--grey-border);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 206px;
  overflow: hidden;
  min-width: 1120px;
}

.desktop .services--tailored > h2 {
  color: var(--white);
  font-family: "Roboto", Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: auto;
  white-space: nowrap;
  width: 299px;
  margin-top: 1rem;
}

.desktop .services--tailored > p {
  color: var(--grey-text);
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  text-align: center;
  width: 1068px;
  margin-top: 0;
}
