.desktop .skills {
  height: auto;
  width: 100%;
  background-color: var(--black);
  border-top: 3px solid var(--grey-border);
  border-bottom: 3px solid var(--grey-border);
  display: flex;

  justify-content: center;
}

.desktop .skills--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1120px;
  align-items: center;
  justify-content: center;
}

.desktop .skills--container-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1120px;
  gap: 8rem;
  align-items: center;
  margin-bottom: 4rem;
}

.desktop .skills--title {
  color: var(--white);
  font-family: "Poppins", Helvetica;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 4rem;
}

.desktop .skills--group {
  background-color: var(--black);
  border: 3px solid;
  border-color: var(--grey-border);
  border-radius: 16px;
  overflow: hidden;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop .skills--group > p {
  color: var(--white);
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
