.desktop .steps {
  height: 742px;
  width: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.desktop .steps--container {
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.desktop .steps--left {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.desktop .steps--right {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktop .steps--left-img {
  height: 750px;
  width: 1440px;
}

.desktop .steps--left-copy {
  display: flex;
  flex-direction: column;

  height: 153px;
  margin-bottom: 7rem;
}

.desktop .steps--left-copy > h2 {
  color: var(--white);
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 45px;
  width: 223px;
}

.desktop .steps--left-copy > p {
  color: var(--white);
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 113px;
  width: 481px;
}

.desktop .HTF-platform-image {
  height: auto;
  object-fit: cover;
  max-width: 650px;
  position: relative;
  transform: translate(-10%, -10%);
}

.desktop .steps--right-title {
  color: var(--white);
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 24px;
  white-space: nowrap;
  width: 162px;
}

.desktop .steps--right-text {
  color: var(--grey-text);
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  width: 305px;
}

.desktop .img {
  height: 38px;
  width: 38px;
}

.desktop .line {
  height: 2px;
  width: 357px;
}

.desktop .steps--right-group {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 23px;
  margin-top: 1.5rem;
}
