body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.desktop .div {
  height: 4870px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.desktop .rectangle {
  background-color: #252c36;
  height: 77px;
  width: 100%;
  margin-top: auto;
}

.desktop .overlap {
  height: 2372px;
  width: 100%;
}
