.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  height: 4870px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.desktop .rectangle {
  background-color: #252c36;
  height: 77px;
  left: 0;
  position: absolute;
  top: 4793px;
  width: 1444px;
}

.desktop .overlap {
  height: 2372px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 1460px;
}

.desktop .hdao {
  height: 690px;
  left: 0;
  position: absolute;
  top: 4103px;
  width: 1444px;
}

.desktop .hdao-about {
  height: 690px;
  width: 1448px;
}

.desktop .hdao-container {
  background-color: var(--black);
  border-radius: 16px;
  height: 529px;
  left: 162px;
  position: absolute;
  top: 80px;
  width: 1115px;
}
