body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: auto;
}

.desktop .div {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}
